.zsh_history
*/undo/
*/.netrwhist
.DS_Store
.zsh/customized.zsh
.vimperator/info/default/local-marks
.vimperator/info/default/history-search
.vimperator/info/default/history-command
tags-ja
.irssi/logs
Icon
